version: "3.9"
services:
  server:
    build:
      context: .
      dockerfile: docker/server.Dockerfile
    ports:
      - "3000:3000"
  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "5173:5173"
  nginx:
    build:
      context: .
      dockerfile: docker/nginx.Dockerfile
    ports:
      - "8080:80"
